@model Lab8.Models.CarModel

<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết dòng xe</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin: @Model.Name</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Tên dòng xe:</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Thuộc hãng:</dt>
                <dd class="col-sm-9">@Model.Brand?.Name (@Model.Brand?.Country)</dd>
            </dl>
            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Sửa</a>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </div>
    </div>
</div>